.card {
  width: 15;
  height: 8rem;
  text-align: center;
  color:whitesmoke;
  border: 2px solid #210B2C;
}

.list-group-item {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #210B2C;
}

.chart-container {
  height: 50%;

}

.highcharts-container{
  border: 2px solid #210B2C;
  border-radius: 5px;
}