<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Agregar Donación {% endblock %}</title>
    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    {% endblock %}
  </head>

  {% include 'navbar.html' %}
  {% block content %}
  <body>
    <div class="container mt-4 mb-5">
      <h2 class="mb-4">Agregar Donación</h2>
      <form id="login-form" method="post" enctype="multipart/form-data">
        
        <h5 class="mt-4">Datos de Contacto</h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label" for="nombre">Nombre</label>
            <input class="form-label" id="nombre" name="nombre" type="text" placeholder="Juan Pérez">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="email">Email</label>
            <input class="form-label" id="email" name="email" type="text" placeholder="ejemplo@mail.com">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="celular">Celular</label>
            <input class="form-label" id="celular" name="celular" type="text" placeholder="912345678">
          </div>
        </div>

        
        <h5 class="mt-4">Dirección</h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label" for="region">Región</label>
            <select class="form-select" id="region" name="region">
              <option value="">--</option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label" for="comuna">Comuna</label>
            <select class="form-select" id="comuna" name="comuna">
              <option value="">--</option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label" for="calle-numero">Calle y Número</label>
            <input class="form-control" id="calle-numero" name="calle-numero" type="text" placeholder="Calle 1250">
          </div>
        </div>

        <h5 class="mt-4">Datos Donación</h5>
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="form-label" for="tipo">Tipo</label>
            <select class="form-select" id="tipo" name="tipo">
              <option value="">--</option>
              <option value="fruta">Fruta</option>
              <option value="verdura">Verdura</option>
              <option value="otros">Otro</option>
            </select>
          </div>
          <div class="col-md-3">
            <label class="form-label" for="cantidad">Cantidad</label>
            <input class="form-control" id="cantidad" name="cantidad" type="text" placeholder="20 kg">
          </div>
          <div class="col-md-6">
            <label class="form-label" for="descripcion">Descripción</label>
            <input class="form-control" id="descripcion" name="descripcion" type="text">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label" for="condiciones">Condiciones de retiro</label>
            <input class="form-control" id="condiciones" name="condiciones" type="text">
          </div>
          <div class="col-md-3">
            <label class="form-label" for="fecha-disponibilidad">Fecha</label>
            <input class="form-control" id="fecha-disponibilidad" name="fecha-disponibilidad" type="text" placeholder="AAAA-MM-DD">
          </div>
        </div>

        <h5 class="mt-4">Fotos Donación</h5>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label" for="foto-1">Foto 1</label>
            <input class="form-control" id="foto-1" name="foto-1" type="file">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="foto-2">Foto 2</label>
            <input class="form-control" id="foto-2" name="foto-2" type="file">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="foto-3">Foto 3</label>
            <input class="form-control" id="foto-3" name="foto-3" type="file">
          </div>
        </div>
        
        <div class="mt-4">
          <button class="btn btn-primary" type="button" id="envio">
            Agregar Donación
          </button>
        </div>
      </form>
    </div>
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script lang="javascript" src="{{ url_for('static', filename='js/regiones-comunas.js') }}"></script>
    <script lang="javascript" src="{{ url_for('static', filename='js/validacion-donacion.js') }}"></script>
    {% endblock %}
  </body>
  {% endblock content %}
</html>
