<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Inicio {% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
    <!--
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/> -->
    {% endblock %}
  </head>
  
  {% block content %} 
  <body>
    <div class="chart-container">
      <figure class="highcharts-figure">
          <div id="chart-donacion"></div>
          <div id="chart-pedido"></div>
      </figure>
    </div>
    <div class="volver-inicio">
      <a class="back" href="{{url_for('inicio')}}">Volver</a>
    </div>
    {% block javascript %}
    <script src="{{url_for('static', filename='js/highcharts.js')}}"></script>
    <script src="{{url_for('static', filename='js/datos.js')}}"></script>
    {% endblock %}
  </body>
  {% endblock %}
</html>