<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Información Pedido {% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion.css') }}">
    {% endblock %}
  </head>
  
  {% block content %}
  {% if data %}
  <body class="box">
    <div class="header">
      <h2>Información del Pedido</h2>
    </div>
    {% for info in data %}
    <table class="tabla">
      <tr>
        <th>Nombre</th>
        <td>{{ info.info_nombre }}</td> 
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ info.info_email }}</td> 
      </tr>
      <tr>
        <th>Teléfono Celular</th>
        <td>{{ info.info_celular }}</td> 
      </tr>
      <tr>
        <th>Comuna</th>
        <td>{{ info.info_comuna }}</td> 
      </tr>
      <tr>
        <th>Tipo de Donación</th>
        <td>{{ info.info_tipo }}</td> 
      </tr>
      <tr>
        <th>Descripción</th>
        <td>{{ info.info_desc }}</td> 
      </tr>
      <tr>
        <th>Cantidad</th>
        <td>{{ info.info_cantidad }}</td> 
      </tr>
    </table>
    {% endfor %}
    <div class="volver">
      <a class="boton" href="{{url_for('verPedidos')}}">Volver</a>
    </div>
  </body>
  {% endif %}
  {% endblock %}
{% block javascript %}
<script lang="javascript" src="{{ url_for('static', filename='js/validacion-donacion.js') }}"></script>
{% endblock %}
</html>