<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Información Donacion {% endblock %}</title>
    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
    {% endblock %}
  </head>

  {% block content %}
  {% if data %}
  <body>
    {% include 'navbar.html' %}
    <div class="container mt-4 mb-5">
      <h3 class="mb-4">Información de la Donación</h3>
    {% for don in data %}
    <table class="table table-hover" style="border-radius:12px; overflow:hidden;">
      <tr>
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Nombre</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_nombre }}</td> 
      </tr>
      <tr>
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Email</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_email }}</td> 
      </tr>
      <tr>
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Teléfono Celular</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_celular }}</td> 
      </tr>
      <tr>
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Comuna</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_comuna }}</td> 
      </tr>
      <tr>
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Calle y Número</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_calle }}</td> 
      </tr>
      <tr>
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Tipo de Donación</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_tipo }}</td> 
      </tr>
      <tr>
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Descripción</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_desc }}</td> 
      </tr>
      <tr>
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Cantidad</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_cantidad }}</td> 
      </tr>
      <tr>
        <th style="background-color:#55286f; color:#D8B4E2; text-align:center;">Condiciones de Retiro</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_condiciones }}</td> 
      </tr>
      <tr>
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Fecha Disponibilidad</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;">{{ don.info_fecha }}</td> 
      </tr>
      {% for fot in data_fotos%}
      <tr class="size-photo">
        <th scope="col" style="background-color:#55286f; color:#D8B4E2; text-align:center;">Foto</th>
        <td style="background-color:whitesmoke; color:#210B2C; text-align:center;"><img src="{{ url_for('static', filename=fot.info_ruta) }}" alt= "{{fot.info_archivo}}" width="640" height="480"></td> 
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script>
    {% endblock %}
  </body> 
  {% endif %}
  {% endblock %}
</html>