<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Información Donacion {% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion.css') }}">
    {% endblock %}
  </head>

  {% block content %}
  {% if data %}
  <body class="box">
    <div class="header">
      <h2>Información de la Donación</h2>
    </div>
    {% for don in data %}
    <table class="tabla">
      <tr>
        <th>Nombre</th>
        <td>{{ don.info_nombre }}</td> 
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ don.info_email }}</td> 
      </tr>
      <tr>
        <th>Teléfono Celular</th>
        <td>{{ don.info_celular }}</td> 
      </tr>
      <tr>
        <th>Comuna</th>
        <td>{{ don.info_comuna }}</td> 
      </tr>
      <tr>
        <th>Calle y Número</th>
        <td>{{ don.info_calle }}</td> 
      </tr>
      <tr>
        <th>Tipo de Donación</th>
        <td>{{ don.info_tipo }}</td> 
      </tr>
      <tr>
        <th>Descripción</th>
        <td>{{ don.info_desc }}</td> 
      </tr>
      <tr>
        <th>Cantidad</th>
        <td>{{ don.info_cantidad }}</td> 
      </tr>
      <tr>
        <th>Condiciones de Retiro</th>
        <td>{{ don.info_condiciones }}</td> 
      </tr>
      <tr>
        <th>Fecha Disponibilidad</th>
        <td>{{ don.info_fecha }}</td> 
      </tr>
      {% for fot in data_fotos%}
      <tr class="size-photo">
        <th>Foto</th>
        <td><img src="{{ url_for('static', filename=fot.info_ruta) }}" alt="imagen donacion" width="640" height="480" onclick="aumentar(this)"></td> 
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    <div class="volver">
      <a class="boton" href="{{url_for('verDonaciones')}}">Volver</a>
    </div>
    {% block javascript %}
    <script lang="javascript">
      function aumentar(foto){
        if(foto.width == "640"){
          foto.style.width = "1280px";
          foto.style.height = "1024px"
        } else if(foto.width == "1280"){
          foto.style.width = "640px";
          foto.style.height = "480px";
        } 
      };
    </script>
    {% endblock %}
  </body> 
  {% endif %}
  {% endblock %}
</html>