<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Inicio {% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicio.css') }}">
    {% endblock %}
  </head>
  
  {% block content %} 
  <body class="box">
    {% with messages = get_flashed_messages() %}
    <div id="mensaje">
      {% if messages %}
        {% for msg in messages %}
        <p>{{ msg }}</p>
        {% endfor %}
      {% endif %}
    </div>
    {% endwith %}
    <div class="grupo-botones">
      <a class="boton" href="{{url_for('agregarDonacion')}}">Agregar Donacion</a>
      <a class="boton" href="{{url_for('agregarPedido')}}">Agregar Pedido</a>
      <a class="boton" href="{{url_for('verDonaciones')}}">Ver Donaciones</a>
      <a class="boton" href="{{url_for('verPedidos')}}">Ver Pedidos</a>
    </div>
  </body>
  {% endblock %}
</html>