<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="../css/inicio.css">
  </head>
  <body class="box">
    <div class="grupo-botones">
      <button class="boton" id="donacion" onclick="irDonacion()">Agregar Donación</button>
      <button class="boton" id="pedido" onclick="irPedidos()">Agregar Pedido</button>
      <button class="boton" id="verdonaciones" onclick="irVerDonaciones()">Ver Donaciones</button>
      <button class="boton" id="verpedidos" onclick="irVerPedidos()">Ver Pedidos</button>
    </div>
    <script src="../js/botones.js"></script>
  </body>
</html>
