<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Lista de Donaciones {% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
    {% endblock %}
  </head>
  
  {% block content %} 
  <body class="box">
    <table class="tabla">
      <thead>
        <tr>
          <th>Comuna</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Fecha</th>
          <th>Nombre</th>
          <th>Foto</th> 
        </tr>
      </thead>
      {% if data %}
      <tbody>
        {% for donacion in data %}
        <tr onclick="window.location.href = '{{ url_for('informacionDonacion', id_d=donacion.id_donacion)}}';">
          <td>{{ donacion.comuna_donacion }}</td>
          <td>{{ donacion.tipo_donacion }}</td>
          <td>{{ donacion.cantidad_donacion }}</td>
          <td>{{ donacion.fecha_donacion }}</td>
          <td>{{ donacion.nombre_donacion }}</td>
          <td><img src="{{ url_for('static', filename=donacion.ruta_foto) }}" alt="primera foto donacion" width="120" height="120"></td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
    <div class="movement">
      <a class="boton devolver" href="{{url_for('verDonaciones', pagina=prev_page)}}">Anterior</a> 
      <a class="boton" href="{{url_for('inicio')}}">Volver</a>
      <a class="boton avanzar" href="{{url_for('verDonaciones', pagina=next_page)}}">Siguiente</a>
    </div>
  </body>
  {% endblock %}
</html>