<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Lista Pedidos {% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tablas.css') }}">
    {% endblock %}
  </head>

  {% block content %} 
  <body class="box">

      <table class="tabla">
        <thead>
          <tr>
            <th>Comuna</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Nombre Solicitante</th>
          </tr>
        </thead>
        {% if data %}
        <tbody>
          {% for pedido in data %}
          <tr onclick="window.location.href = '{{ url_for('informacionPedido', id_p=pedido.id_pedido)}}';">
            <td>{{ pedido.comuna_pedido }}</td>
            <td>{{ pedido.tipo_pedido }}</td>
            <td>{{ pedido.descripcion_pedido }}</td>
            <td>{{ pedido.cantidad_pedido }}</td>
            <td>{{ pedido.nombre_pedido }}</td>
          </tr>
          {% endfor %}
        </tbody>
        {% endif %}
      </table>
      <div class="movement">
       <a class="boton devolver" href="{{url_for('verPedidos', pagina=prev_page)}}">Anterior</a> 
       <a class="boton" href="{{url_for('inicio')}}">Volver</a>
       <a class="boton avanzar" href="{{url_for('verPedidos', pagina=next_page)}}">Siguiente</a>
      </div>
    </body>
    {% endblock %}
</html>